/* Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.crete-font {
  font-family: 'Crete Round', serif;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}

.image-container img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.sr-only {
  display: none;
}

.list li {
  float: left;
}

/* Start Navbar */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3c3a39;
  padding: 10px 20px;
}

header a.logo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

header nav.menu-icons span {
  display: block;
  width: 30px;
  border: 2px solid rgba(172, 183, 195, 1);
  border-radius: 1px;
  margin: 2px 0;
  cursor: pointer;
}

header div.collapse-menu {
  display: none;
}

/* Start Headline */
section.headline {
  background-color: rgba(28, 26, 25, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 10px;
  height: 500px;
  background-image: url(/images/bg-haedline.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
}

section.headline h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  margin: 12px 0;
}

section.headline h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin: 5px 0;
}

section.headline p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 12px 0;
}

section.headline .social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

section.headline .social-media .image-container {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

section.headline .social-media .image-container:nth-child(3),
section.headline .social-media .image-container:nth-child(4),
section.headline .social-media .image-container:nth-child(5) {
  width: 40px;
  height: 40px;
}

/* Start Works */
section.works {
  margin-top: 55px;
  grid-template-columns: 320px;
  justify-content: center;
}

section.works h2 {
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  margin: 24px 0;
  position: relative;
  display: flex;
  justify-content: center;
}

section.works h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -16px;
  left: 0;
  border: 1px solid rgba(33, 33, 33, 1);
  width: 320px;
}

section.works .featured-project {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
}

section.works .featured-project div.image-container {
  margin: 10px auto 30px;
}

section.works .featured-project h3 {
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 12px 0;
}

section.works .featured-project p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: 12px 0;
}

section.works .featured-project ul {
  grid-template-columns: 60px 60px 95px 60px;
  justify-content: space-between;
  margin: 12px 0 22px;
}

section.works .featured-project ul li {
  text-align: center;
  border: 1px solid #8993a4;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  margin-right: 12px;
  padding: 10px 0;
}

section.works .featured-project a {
  padding: 12px;
  background: #ff6b00;
  border: 1px solid #ff6b00;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  transition: 0.4s;
}

section.works .featured-project a:hover {
  background: #fff;
  color: #ff6b00;
}

section.works .cards {
  grid-template-columns: 320px;
  margin: 30px 0;
}

section.works .cards .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: 386px;
  margin: 20px 0;
  background: url(/images/card.png);
}

section.works .cards .card h3 {
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0 0 0 12px;
}

section.works .cards .card p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 12px;
}

section.works .cards .card ul {
  grid-template-columns: 60px 100px 60px;
  text-align: center;
  margin: 0 12px;
}

section.works .cards .card ul li {
  background: rgba(255, 255, 255, 0.24);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 10px 12px;
  margin-right: 10px;
}

section.works .cards .card a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff6b00;
  border: 1px solid #ff6b00;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  transition: 0.4s;
}

section.works .cards .card a:hover {
  background: #fff;
  color: #ff6b00;
}

/* Start About */
section.about {
  background: rgba(28, 26, 25, 1);
  padding-bottom: 10px;
  margin-bottom: 120px;
}

section.about .description {
  position: relative;
  height: 650px;
  background: url(/images/about.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

section.about .description::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 327px;
  bottom: -20px;
  border: 1px solid #fff;
}

section.about .description h2 {
  color: rgba(255, 107, 0, 1);
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  width: 327px;
  text-align: left;
  margin: auto;
  padding: 140px 0 10px;
}

section.about .description p.descrip {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  width: 327px;
  margin: auto;
}

section.about .description a.resume {
  background: #ff6b00;
  border: 1px solid #ff6b00;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  margin-left: 24px;
  margin-top: 12px;
  display: inline-block;
  transition: 0.4s;
}

section.about .description a.resume:hover {
  background: #fff;
  color: #ff6b00;
}

section.about .skills {
  color: rgba(255, 255, 255, 1);
  margin-top: 60px;
  text-align: center;
}

section.about .skills h4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  margin-top: 30px;
}

section.about .skills h4::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: red;
  margin-left: -30px;
}

section.about .skills h4:nth-child(1)::before {
  transform: rotate(45deg);
  margin-right: 10px;
}

section.about .skills h4:nth-of-type(3)::before {
  border-radius: 50%;
  width: 17px;
  height: 17px;
}

section.about .skills ul.items li {
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0;
  text-align: center;
}

/* Start Contact Form  */
form.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

form.contact-form h2.inter-font {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(23, 43, 77, 1);
  margin-bottom: 59px;
}

form.contact-form div.form-control {
  margin: 10px 0;
  width: 100%;
}

.form-control textarea {
  width: 100%;
  background-color: #fbf8f7;
  border: none;
  outline: none;
  padding: 12px;
}

.form-control textarea::placeholder {
  font-size: 15px;
  line-height: 24px;
  color: rgba(60, 58, 57, 1);
}

.form-control input {
  outline: none;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 14px 16px;
  width: 100%;
}

.form-control input::placeholder {
  font-size: 15px;
  line-height: 24px;
  color: rgba(151, 148, 147, 1);
}

.submit_btn {
  padding: 12px;
  margin-top: 14px;
  background: #ff6b00;
  border: 1px solid #ff6b00;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  transition: 0.4s;
}

.submit_btn:hover {
  background: #fff;
  color: #ff6b00;
}

.submit_btn:active {
  color: white;
  background-color: rgba(224, 83, 4, 1);
}

/* Start Social Media */
section.social-media {
  margin: 162px auto 0;
  width: 60%;
}

section.social-media ul.social-media-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section.social-media ul li i {
  font-size: 20px;
  color: rgba(80, 95, 121, 1);
}

section.social-media ul li i.fa-github {
  background-color: rgba(80, 95, 121, 1);
  color: white;
  border-radius: 50%;
}

section.social-media::after {
  content: "";
  display: block;
  background-color: #0d151e;
  width: 134px;
  height: 5px;
  border-radius: 20px;
  margin: 23px auto;
}
